.app__header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}
.switch {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
  cursor: pointer;
}
.flicker {
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}

.dark .flicker {
  transform: translateX(40px);
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 45px;
}
