.app__intro {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.main-text {
  padding: 30px;
  margin-bottom: 100px;
}
a {
  font-size: 23px;
}
.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 100px;
}

.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: 100px;
  bottom: 80px;
  background-image: url("../../images/html-square.png");
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html:before {
  background-color: rgb(189, 154, 221);
}

#html:after {
  background-color: rgb(205, 188, 221);
}

#css {
  left: 250px;
  bottom: 240px;
  background-image: url("../../images/css-square.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 15%);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#javascript {
  left: 450px;
  bottom: 200px;
  background-image: url("../../images/javascript-square.png");
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}

#react {
  left: 350px;
  bottom: 40px;
  background-image: url("../../images/react-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }
}
@media only screen and (max-width: 500px) {
  .main-text h1{
    font-size: 50px;
  }
  .main-text {
    width: 98%;
    padding: 0;
  }
}
@media only screen and (max-width: 1300px) {
  .hero-image {
    display: none;
  }
}
